@import url('https://fonts.googleapis.com/css?family=Work+Sans');

:root {
    text-align: center;
    background-color: #213f3d;
    color: #b3ffb3;
    font-family: 'Work Sans';
}

a:link {color: #99ff99;}
a:hover {color: #82ffd5;}
a:visited {color: #009189;}


/* === Excercise I === */
#full-contain {
    margin: 0 auto;
    width: 20vw;
    height: 59vw;
    border: #646464 solid 2px;
}

div#rgba-color {
    display: inline-block;
    padding: 0;
    margin: 0;
    background-color: rgba(170, 57, 57, 1);
    width: 10vw;
    height: 10vw;
}

div#rgba-grey {
    display: inline-block;
    background-color: hsla(0, 0%, 45%, 1);
    width: 10vw;
    height: 10vw;
}

div#hsla-color {
    display: inline-block;
    background-color: hsla(36, 100%, 50%, 1);
    width: 10vw;
    height: 10vw;
    position: relative;
    top: -1vh;
}

div#hsla-grey {
    display: inline-block;
    background-color: hsla(36, 0%, 50%, 1);
    width: 10vw;
    height: 10vw;
    position: relative;
    top: -1vh;
}

div#hex-color {
    display: inline-block;
    background-color: #34d81eff;
    width: 10vw;
    height: 10vw;
    position: relative;
    top: -2vh;
}

div#hex-grey {
    display: inline-block;
    background-color: #7a7a7aff;
    width: 10vw;
    height: 10vw;
    position: relative;
    top: -2vh;
}

div#hwb-color {
    display: inline-block;
    width: 10vw;
    height: 10vw;
    position: relative;
    top: -3vh;
}

div#hwb-grey {
    display: inline-block;
    background-color: hsla(204, 0%, 49%, 1);
    width: 10vw;
    height: 10vw;
    position: relative;
    top: -3vh;
}

div#cmyk-color {
    display: inline-block;
    width: 10vw;
    height: 10vw;
    position: relative;
    top: -3.55vh;
}

div#cmyk-grey {
    display: inline-block;
    background-color: hsla(180, 0%, 46%, 1);
    width: 10vw;
    height: 10vw;
    position: relative;
    top: -3.55vh;
}

div#ncol-color {
    display: inline-block;
    width: 10vw;
    height: 10vw;
    position: relative;
    top: -4.1vh;
}

div#ncol-grey {
    display: inline-block;
    background-color: hsla(264, 0%, 50%, 1);
    width: 10vw;
    height: 10vw;
    position: relative;
    top: -4.1vh;
}


/* === Excercise II === */
#wave-contain {
    margin: 0 auto;
    width: 95vw;
    height: 50vw;
    border: #646464 solid 2px;
}

#wave-contain div {
    width: 15vw;
    height: 15vw;
}

#fire { 
    background-color: #d33604;
    z-index: 0;
}

#dark_sand { 
    background-color: #b55a2e;
    position: relative;
    top: -5vw;
    left: 10vw;
    z-index: -1;
}

#orange { 
    background-color: #e07b09;
    position: relative;
    top: -10vw;
    left: 20vw;
    z-index: -2;
}

#gold { 
    background-color: #e8990a;
    position: relative;
    top: -15vw;
    left: 30vw;
    z-index: -3;
}

#lime {
    background-color: #8efa00;
    position: relative;
    top: -30vw;
    left: 50vw;
    z-index: 0;
}

#teal {
    background-color: #4ebdab;
    position: relative;
    top: -55vw;
    left: 60vw;
    z-index: -1;
}

#ocean {
    background-color: #5397cb;
    position: relative;
    top: -80vw;
    left: 70vw;
    z-index: -2;
}

#violet {
    background-color: #be73b1;
    position: relative;
    top: -105vw;
    left: 80vw;
    z-index: -3;
}


/* === Excercise III === */
#transparent-contain {
    margin: 0 auto;
    width: 95vw;
    height: 30vw;
    border: #646464 solid 2px;
}

#transparent-contain div {
    /* display: inline-block; */
    width: 15vw;
    height: 15vw;
}

#light1 {
    background-color: #8da336c3;
    position: relative;
    top: 3vw;
    left: 5vw;
}

#dark1 {
    background-color: #580f4fc2;
    position: relative;
    top: -3vw;
    left: 12.5vw;
    z-index: -2;
}

#light2 {
    background-color: #8da336c0;
    position: relative;
    top: -12vw;
    left: 35vw;
    z-index: -1;
}

#dark2 {
    background-color: #580f4f80;
    position: relative;
    top: -18vw;
    left: 42.5vw;
    z-index: -1;
}

#light3 {
    background-color: #8da33680;
    position: relative;
    top: -27vw;
    left: 65vw;
    z-index: -1;
}

#dark3 {
    background-color: #580f4fb0;
    position: relative;
    top: -33vw;
    left: 72.5vw;
    z-index: -1;
}


/* === Exercise IV === */
@keyframes y-spinner {
    0%  { 
        transform: rotateY(0deg); 
        /* transform: rotateX(0deg); */
        -webkit-transform: rotateY(0deg);
        /* -webkit-transform: rotateX(0deg); */
        }
    50% { 
        transform: rotateY(180deg);
        /* transform: rotateX(180deg); */
        -webkit-transform: rotateY(180deg);
        /* -webkit-transform: rotateX(180deg); */
        }
    100% {
        transform: rotateY(360deg);
        /* transform: rotateX(360deg); */
        -webkit-transform: rotateY(360deg);
        /* -webkit-transform: rotateX(360deg); */
         }
}

@keyframes x-spinner {
    0%  { 
        /* transform: rotateY(0deg); */ 
        transform: rotateX(0deg);
        /* -webkit-transform: rotateY(0deg); */
        -webkit-transform: rotateX(0deg);
        }
    50% { 
        /* transform: rotateY(180deg); */
        transform: rotateX(180deg);
        /* -webkit-transform: rotateY(180deg); */
        -webkit-transform: rotateX(180deg);
        }
    100% {
        /* transform: rotateY(360deg); */
        transform: rotateX(360deg);
        /* -webkit-transform: rotateY(360deg); */
        -webkit-transform: rotateX(360deg);
         }
}

#mix-contain {
    margin: auto auto;
    width: 700px;
    height: 350px;
    /* -webkit-transform: rotateY(130deg); */
    /* transform: rotateY(130deg); */
    border: solid 1px #fff;
    animation: y-spinner 10s infinite;
}

#mix-contain div { 
    margin: 0;
    padding: 0;
    font-size: 0;
    display: inline-block;
    /* animation: x-spinner 10s infinite; */
}

#mix-contain div:nth-child(even) { animation: x-spinner 13s infinite; }
#mix-contain div:nth-child(odd) { animation: x-spinner 15s infinite; }

div.drk_blue { background-color: #085DFF; }
div.med_blue { background-color: #0C98E8; }
div.lgt_blue { background-color: #00ECFF; }
div.blue_grn { background-color: #00E8B2; }
div.emerald_ { background-color: #00FF74; }

#band_1 {
    height: 100%;
    width: 4px;
}

#band_2 {
    height: 100%;
    width: 8px;
}

#band_3 {
    height: 100%;
    width: 20px;
}

#band_4 {
    height: 100%;
    width: 5px;
}

#band_5 {
    height: 100%;
    width: 11px;
}

#band_6 {
    height: 100%;
    width: 14px;
}

#band_7 {
    height: 100%;
    width: 31px;
}

#band_8 {
    height: 100%;
    width: 4px;
}

#band_9 {
    height: 100%;
    width: 10px;
}

#band_10 {
    height: 100%;
    width: 12px;
}

#band_11 {
    height: 100%;
    width: 4px;
}

#band_12 {
    height: 100%;
    width: 5px;
}

#band_13 {
    height: 100%;
    width: 8px;
}

#band_14 {
    height: 100%;
    width: 24px;
}

#band_15 {
    height: 100%;
    width: 10px;
}

#band_16 {
    height: 100%;
    width: 6px;
}

#band_17 {
    height: 100%;
    width: 7px;
}

#band_18 {
    height: 100%;
    width: 7px;
}

#band_19 {
    height: 100%;
    width: 4px;
}

#band_20 {
    height: 100%;
    width: 40px;
}

#band_21 {
    height: 100%;
    width: 10px;
}

#band_22 {
    height: 100%;
    width: 6px;
}

#band_23 {
    height: 100%;
    width: 20px;
}

#band_24 {
    height: 100%;
    width: 30px;
}

#band_25 {
    height: 100%;
    width: 4px;
}

#band_26 {
    height: 100%;
    width: 4px;
}

#band_27 {
    height: 100%;
    width: 50px;
}

#band_28 {
    height: 100%;
    width: 25px;
}

#band_29 {
    height: 100%;
    width: 14px;
}

#band_30 {
    height: 100%;
    width: 4px;
}

#band_31 {
    height: 100%;
    width: 10px;
}

#band_32 {
    height: 100%;
    width: 35px;
}

#band_33 {
    height: 100%;
    width: 4px;
}

#band_34 {
    height: 100%;
    width: 50px;
}

#band_35 {
    height: 100%;
    width: 4px;
}

#band_36 {
    height: 100%;
    width: 4px;
}

#band_37 {
    height: 100%;
    width: 10px;
}

#band_38 {
    height: 100%;
    width: 25px;
}

#band_39 {
    height: 100%;
    width: 33px;
}

#band_40 {
    height: 100%;
    width: 12px;
}

#band_41 {
    height: 100%;
    width: 37px;
}

#band_42 {
    height: 100%;
    width: 20px;
}

#band_43 {
    height: 100%;
    width: 33px;
}

#band_44 {
    height: 100%;
    width: 12px;
}

#band_45 {
    height: 100%;
    width: 7px;
}


/* === Exercise V === */
@keyframes up-down {
    0% {top: 0%;}
    50% {top: 75%;}
    100% {top: 0%;}
}

@keyframes spinning {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

#interact-contain {
    height: 70vh;
    width: 100%;
}

#interact-contain div {
    /* display: inline-block; */
    margin: auto;
    position: relative;
    top: 2vh;
}

#interact-contain div div {
    display: block;
    position: relative;
    margin: 0 auto;
    top: 7vh;
}

#interact-contain div div:hover {
    animation: spinning 5s;
}

#lft_block {
    background-color: #a8383b;
    height: 21vh;
    width: 21vh;
    display: inline-block;
    animation: up-down 10s infinite;
}

#rgt_block {
    background-color: #7d9f35;
    height: 21vh;
    width: 21vh;
    display: inline-block;
    animation: up-down 10s infinite;
}

#lft_inner {
    margin-top: 20vh;
    position: relative;
    top: 50%;
    /* background-color: #226764; */
    background-color: #41817f;
    height: 7vh;
    width: 7vh;
    display: inline-block;
}

#rgt_inner {
    margin-top: 20vh;
    position: relative;
    top: 50%;
    /* background-color: #226764; */
    background-color: #41817f;
    height: 7vh;
    width: 7vh;
    display: inline-block;
}

#lft_inner:hover {
    animation-name: spinning;
    animation-duration: 5s;
}

#rgt_inner:hover {
    animation-name: spinning;
    animation-duration: 5s;
}


/* === Exercise 6 === */
#freestyle-contain {
    position: fixed;
    left: 10vw;
    top: 20vh;
    display: inline-block;
    width: 80%;
    height: 41vh;
    background-color: #032a20;
}

#freestyle-contain div {
    display: inline-block;
    transition-property: transform;
    transition-duration: 5s;
}

/* #freestyle-contain div:hover { */
/*     /1* animation: poly_spin 5s 1; *1/ */
/*     transform: rotateY(360deg) rotateZ(360deg); */
/* } */

.lgt_red {background-color: #f85d6cdf;}
.lgt_red:hover {transform: rotateX(45deg) rotateY(180deg) rotateZ(270deg);}
.red {background-color: #b90012ff;}
.red:hover {transform: rotateX(90deg) rotateY(80deg) rotateZ(270deg);}
.drk_red {background-color: #860a177c;}
.drk_red:hover {transform: rotateX(75deg) rotateY(280deg) rotateZ(180deg);}
.lgt_orange {background-color: #ffa25fbb;}
.lgt_orange:hover {transform: rotateX(3.14rad) rotateY(2.1rad) rotateZ(14rad);}
.orange {background-color: #bf5000ab;}
.orange:hover {transform: rotateX(360deg) rotateY(0deg) rotateZ(135deg);}
.drk_orange {background-color: #753406ce;}
.drk_orange:hover {transform: rotateX(270deg) rotateY(-130deg) rotateZ(130deg);}
.lgt_teal {background-color: #42b0a1a6;}
.lgt_teal:hover {transform: rotateX(90deg) rotateY(420deg) rotateZ(200deg);}
.teal {background-color: #007868cb;}
.teal:hover {transform: rotateX(90deg) rotateY(420deg) rotateZ(200deg);}
.drk_teal {background-color: #044a3fd3;}
.drk_teal:hover {transform: rotateX(90deg) rotateY(420deg) rotateZ(200deg);}
.lgt_green {background-color: #6adc5279;}
.lgt_green:hover {transform: rotateX(400deg) rotateY(4deg) rotateZ(15deg);}
.green {background-color: #1d9f00ab;}
.green:hover {transform: rotateX(42deg) rotateY(270deg) rotateZ(180deg);}
.drk_green {background-color: #146205c9;}
.drk_green:hover {transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);}

#polygon_1 {
    width: 15vw;
    height: 20vh;
    clip-path: polygon(0 0, 50% 0%, 100% 89%, 0 50%);
    z-index: 1;
}

#polygon_2 {
    position: fixed;
    left: 6vw;
    width: 20vw;
    height: 20vh;
    clip-path: polygon(17% 14%, 53% 6%, 90% 90%);
    z-index: 2;
}
#polygon_3 {
    position: fixed;
    left: 10vw;
    width: 15vw;
    height: 25vh;
    clip-path: polygon(12% 0%, 47% 89%, 90% 90%);
    z-index: 3;
}
#polygon_4 {
    position: relative;
    left: -10vw;
    width: 20vw;
    height: 15vh;
    clip-path: polygon(0% 14%, 60% 6%, 90% 90%, 12% 80%);
    z-index: 4;
}
#polygon_5{
    position: fixed;
    left: 35vw;
    width: 15vw;
    height: 20vh;
    clip-path: polygon(35% 14%, 90% 6%, 90% 90%, 45% 74%);
    z-index: 5;
}
#polygon_6 {
    position: relative ;
    left: -9vw;
    width: 20vw;
    height: 35vh;
    clip-path: polygon(25% 0%, 45% 6%, 70% 90%, 90% 56%);
    z-index: 6;
}
#polygon_7 {
    position: fixed;
    left: 17vw;
    top: 25vh;
    width: 22vw;
    height: 12vh;
    clip-path: polygon(11% 14%, 0% 6%, 40% 90%, 50% 50%, 97% 90%, 100% 0%);
    z-index: 7;
}
#polygon_8 {
    position: relative;
    left: -10vw;
    width: 24vw;
    height: 18vh;
    clip-path: polygon(13% 14%, 0% 6%, 50% 90%, 60% 60%, 99% 4%);
    z-index: 8;
}
#polygon_9 {
    position: fixed;
    left: 30vw;
    width: 21vw;
    height: 24vh;
    clip-path: polygon(25% 14%, 0% 6%, 90% 90%);
    z-index: 9;
}
#polygon_10 {
    position: relative;
    left: 62vw;
    top: -14vh;
    width: 15vw;
    height: 20vh;
    clip-path: polygon(0% 14%, 24% 6%, 90% 42%, 80% 90%);
    z-index: 10;
}
#polygon_11 {
    position: fixed;
    left: 10vw;
    top: 31vh;
    width: 35vw;
    height: 20vh;
    clip-path: polygon(0% 14%, 0% 6%, 90% 90%, 42% 80%, 99% 0%);
    z-index: 11;
}
#polygon_12 {
    position: fixed;
    left: 50vw;
    top: 18vh;
    width: 26vw;
    height: 35vh;
    clip-path: polygon(5% 14%, 40% 6%, 90% 90%, 100% 81%, 24% 75%);
    z-index: 12;
}

#polygon_13 {
    position: fixed;
    left: 28vw;
    top: 40vh;
    width: 15vw;
    height: 20vh;
    clip-path: polygon(99% 78%, 54% 23%, 90% 50%, 0% 14%);
    z-index: 13;
}

#polygon_14 {
    position: relative;
    left: -20vw;
    top: -20vh;
    width: 15vw;
    height: 20vh;
    clip-path: polygon(0 14%, 54% 23%, 50% 90%, 99% 78%);
    z-index: 14;
}

#polygon_15 {
    position: relative;
    left: 10vw;
    top: -15vh;
    width: 15vw;
    height: 20vh;
    clip-path: polygon(0 14%, 54% 23%, 50% 90%, 99% 78%);
    z-index: 15;
}

#polygon_16 {
    position: relative;
    left: 7vw;
    top: -25vh;
    width: 26vw;
    height: 20vh;
    clip-path: polygon(0 14%, 54% 23%, 50% 90%, 99% 78%);
    z-index: 16;
}

#polygon_17 {
    position: relative;
    left: 20vw;
    top: -45vh;
    width: 15vw;
    height: 24vh;
    clip-path: polygon(0 14%, 54% 23%, 50% 90%, 99% 78%);
    z-index: 17;
}

#polygon_18 {
    position: relative;
    left: -10vw;
    top: -40vh;
    width: 15vw;
    height: 20vh;
    clip-path: polygon(0 14%, 54% 23%, 50% 90%, 99% 78%);
    z-index: 18;
}

#polygon_19 {
    position: relative;
    left: -12vw;
    top: -45vh;
    width: 22vw;
    height: 22vh;
    clip-path: polygon(23% 14%, 54% 23%, 50% 90%, 99% 78%, 50% 90%, 78% 0);
    z-index: 19;
}

#polygon_20 {
    position: relative;
    left: 7vw;
    top: -57vh;
    transform: rotate(210deg);
    width: 24vw;
    height: 20vh;
    clip-path: polygon(0 0, 54% 23%, 50% 90%, 99% 78%, 45% 67%);
    z-index: 20;
}

#polygon_21 {
    position: relative;
    left: 50vw;
    top: -80vh;
    width: 24vw;
    height: 20vh;
    clip-path: polygon(0 14%, 54% 23%, 50% 90%, 99% 78%, 75% 48%, 69% 39%, 99% 43%, 0% 65%);
    z-index: -21;
}

#polygon_22 {
    position: relative;
    left: 14vw;
    top: -67vh;
    width: 24vw;
    height: 20vh;
    clip-path: polygon(0 14%, 54% 23%, 50% 90%, 99% 78%);
    z-index: 22;
}

#polygon_23 {
    position: relative;
    left: -10vw;
    top: -75vh;
    transform: rotate(90deg);
    width: 19vw;
    height: 15vh;
    clip-path: polygon(0 14%, 54% 23%, 50% 90%, 99% 78%);
    z-index: 23;
}

#polygon_24 {
    position: relative;
    left: 44vw;
    top: -120vh;
    width: 24vw;
    height: 16vh;
    clip-path: polygon(14% 0%, 54% 23%, 50% 90%, 79% 99%, 90% 40%);
    z-index: 24;
}

#polygon_25 {
    position: relative;
    left: -15vw;
    top: -100vh;
    width: 49vw;
    height: 35vh;
    clip-path: polygon(0 14%, 54% 23%, 50% 90%, 99% 78%);
    z-index: 30;
}

#polygon_26 {
    position: relative;
    left: 25vw;
    top: -140vh;
    width: 19vw;
    height: 15vh;
    clip-path: polygon(0 14%, 54% 23%, 50% 90%, 99% 78%);
    z-index: 26;
}

#polygon_27 {
    position: relative;
    left: -10vw;
    top: -130vh;
    width: 19vw;
    height: 15vh;
    clip-path: polygon(0 14%, 54% 23%, 50% 90%, 99% 78%);
    z-index: 27;
}

#polygon_28 {
    position: relative;
    left: -15vw;
    top: -125vh;
    width: 19vw;
    height: 25vh;
    clip-path: polygon(0 14%, 54% 23%, 50% 90%, 99% 78%);
    z-index: 28;
}

#polygon_29 {
    position: relative;
    left: 10vw;
    top: -170vh;
    width: 29vw;
    height: 15vh;
    clip-path: polygon(0 14%, 54% 23%, 50% 90%, 99% 78%);
    z-index: 29;
}

#polygon_30 {
    position: relative;
    left: 3vw;
    top: -165vh;
    width: 34vw;
    height: 46vh;
    clip-path: polygon(0 14%, 54% 23%, 50% 90%, 99% 78%);
    z-index: -1;
}